
.color-bg-blue-0002 { background-color: #060d18 !important; }
.color-bg-blue-0005 { background-color: #030C3C !important; }
.color-bg-blue-0010 { background-color: #122699 !important; }
.color-bg-blue-0015 { background-color: #0F6ACE !important; }
.color-bg-blue-0020 { background-color: #38aefd !important; }
.color-bg-blue-0025 { background-color: #48d2fc !important; }
.color-bg-blue-0030 { background-color: #89dbfc !important; }
.color-bg-blue-0050 { background-color: #f0f5fb !important; }
.color-bg-blue-0051 { background-color: #29bbcc !important; }

/* BLUE */
.color-font-blue-0002 { color: #060d18 !important; }
.color-font-blue-0005 { color: #030C3C !important; }
.color-font-blue-0010 { color: #122699 !important; }
.color-font-blue-0015 { color: #0F6ACE !important; }
.color-font-blue-0020 { color: #38aefd !important; }
.color-font-blue-0025 { color: #48d2fc !important; }
.color-font-blue-0030 { color: #89dbfc !important; }
.color-font-blue-0050 { color: #f0f5fb !important; }

/* GRAY */
.color-font-gray-0015 { color: #626264 !important; }