section.learninghub-invest .container {
	padding: 90px 0px;
}
section.learninghub-invest .learning-hub-title {
	color: #fff;
	margin-bottom: 15px;
}
section.learninghub-invest .learning-hub-content {
	color: #fff;
	font-weight: lighter;
}